.product-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.product-col {
    width: calc(100% / 12 * 6);
    padding-right: 4px;
    padding-left: 4px;
}

.product-color {
    width: 64px;
    text-align: center;
}