.product-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.product-col {
    width: calc(100% / 12 * 6);
    padding-right: 4px;
    padding-left: 4px;
}

.product-color {
    width: 64px;
    text-align: center;
}

.size-btn {
    width: 160px;
    border: 1px solid var(--neutral-300);
}

.size-btn.active, 
.size-btn:hover {
    border: 1px solid var(--neutral-900);
}