@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


body {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    line-height: 1.5;
}


.container {
    max-width: 1296px;
    margin: 0 auto;
}

.logo-link {
    display: flex;
}

.logo a img{
    width: 129px;
}

.link a {
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #212529;
}

.py-3 {
    padding: 12px 0;
}

.mr-10 {
    margin-right: 40px;
}

.mr-12 {
    margin-right: 48px;
}